/* Dark mode styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #1f1f1f; /* Dark background color */
  color: #fff; /* Light text color */
}
.hiddenLink {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* Navigation bar styles */
nav {
  background-color: #333;
  padding: 1rem 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


/* Center the footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  position: relative; /* Add this line */
}

/* Increase font sizes... */
body {
  font-size: 1.05em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

p {
  font-size: 1.05em;
  line-height: 2em;
}

ul {
  font-size: 1.05em;
  line-height: 2em;
}
li {
  line-height: 1.5em;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%
}
/* Center the footer */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  max-width: 100%
}
