#post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.post-item {
    background-color: #333333;
    color: #ffffff;
    border-radius: 10px; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    text-decoration: none; /* Remove underline from links */

}
.post-image {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Adjust as needed */
}
.post-link h2 {
    font-size: 1.5em; /* Adjust as needed */
    font-weight: bold;
    color: #ffffff; /* Initial color, adjust as needed */
    transition: color 0.01s ease; /* Add transition effect */
}

.post-link h2:hover {
    color: #999999; /* Color when hovered over, adjust as needed */
}
.post-link p {
    font-size: 0.9em; /* Adjust as needed */
}

.post-link span {
    font-size: 0.8em; /* Adjust as needed */
    color: #888888; /* Adjust as needed */
}
