#post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.post-item {
    background-color: #333333;
    color: #ffffff;
    border-radius: 10px; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    text-decoration: none; /* Remove underline from links */
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Adjust as needed */
}

.post-link h2 {
    font-size: 1.5em; /* Adjust as needed */
    font-weight: bold;
    color: #ffffff; /* Initial color, adjust as needed */
    transition: color 0.01s ease; /* Add transition effect */
}

.post-link h2:hover {
    color: #999999; /* Color when hovered over, adjust as needed */
}
.post-link p {
    font-size: 0.9em; /* Adjust as needed */
}

.post-link span {
    font-size: 0.8em; /* Adjust as needed */
    color: #888888; /* Adjust as needed */
}
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #1f1f1f; /* Dark background color */
  color: #fff; /* Light text color */
}
#post-content {
    width: 100%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#post-content-inner img {
    border: 2px solid #fbcb07; /* Change the color as needed */
    max-width: auto; /* Adjust as needed */
}
#post-content-inner h1 {
    font-size: 2em; /* Adjust as needed */
    margin: 20px 0; /* Adjust as needed */
}
#post-content-inner h5 {
    font-size: 1em; /* Adjust as needed */
    margin: 15px 0; /* Adjust as needed */
    line-height: 0; /* Adjust as needed */
}
#post-content-inner {
    line-height: 1.6; /* Adjust as needed */
    max-width: 60%; /* Adjust as needed */
}